<!DOCTYPE html>
<html>
<head>
	<title>Conducter</title>
	<meta charset="utf-8" />
	<meta content="initial-scale=1.0, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
	<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
	<link rel="stylesheet" href="css/style.css" />
</head>
<body>
  <div id="action-indicator">
    Action
  </div>

	<div class="wrapper">

		<div id="stage" class="thumbnail">
			<video id="Video1" autoplay loop>
				<source src="video/tbs.webm" >
			</video>
		</div>

		<canvas class="label" id="a_canvas" width="1280" height="1080"></canvas>

    <div class="information" id="dialog">
      <div class="md-modal md-show">
        <div class="md-content">
<!--           <h3>Modal Dialog</h3>
          <ul>
              <li>
                <strong>名前:</strong>
                Hajime Hirono
              </li>
              <li>
                <strong>年齢:</strong>
                21
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
              <li>
                <strong>名前:</strong>
                Hajime Hirono
              </li>
              <li>
                <strong>年齢:</strong>
                21
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
              <li>
                <strong>年齢:</strong>
                21
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
              <li>
                <strong>年齢:</strong>
                21
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
              <li>
                <strong>年齢:</strong>
                21
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
              <li>
                <strong>年齢:</strong>
                21
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
              <li>
                <strong>年齢:</strong>
                21
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
              <li>
                <strong>年齢:</strong>
                21
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
              <li>
                <strong>年齢:</strong>
                21
              </li>
              <li>
                <strong>職業:</strong>
                学生
              </li>
            </ul>
 -->        </div> <!-- md-content end -->
      </div> <!-- md-show end -->
      <div class="screenshot">
        <img src="images/screenshot.png" id="dialogimg" >
      </div>
    </div> <!-- information end -->
  </div> <!-- wrapper end -->


  <script id="cm-template" type="text/template">
    <h3><%= title %></h3>
    <ul>
      <% if(typeof stage_name !== 'undefined') { %>
        <li><strong>出演者:</strong><%= stage_name %></li>
      <% } %>
      <li><strong>アイテム名:</strong><%= item_name %></li>
    </ul>
  </script>

  <script id="drama-template" type="text/template">
  　<h3><%= stage_name %></h3>
   <ul>
  　  <li><strong>本名: </strong> <%= real_name %> </li>
  　  <li><strong>生年月日　: </strong> <%= birth %> </li>
  　  <li><strong>血液型: </strong> <%= blood_type %> </li>
  　  <li><strong>職業: </strong> <%= job %> </li>
  　  <li><strong>事務所: </strong> <%= label %> </li>
  　  <li><strong>主な作品　: </strong> <%= work %> </li>
  </ul>
  </script>

  <div id="hidden-area" type="hidden" class="hidden">
  <canvas id="img-canvas" width="90" height="90"></canvas>
  </div>
  <div id="music_dialog" title="音楽情報">
  <p>音楽情報表示されます</p>
  </div>
  <div id="buy_dialog" title="アイテム">
  <p>ショッピングリストに追加されました</p>
  </div>

  <script src="js/conductor-server.js"></script>
	<script src="js/main.js"></script>
	<script src="js/snapshot.js"></script>
	<script src="js/draw.js"></script>
	<script src="js/operation.js"></script>
	<script src="js/dialog.js"></script>
	<script src="js/music.js"></script>
	<script src="js/buy.js"></script>
</body>
</html>
